.resume-preview {
  width: 216mm;
  height: 279mm;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  background-color: #fff;
}

.button-generate-pdf {
  position: absolute;
  background: red;
  color: white;
  right: 0;
  bottom: 0;
}
