.template-one {
  &__education-info {
    .education-data {
      display: inline-block;
      width: 50%;
      letter-spacing: 0.1rem;

      &--left {
        text-align: left;
        font-weight: bold;
      }

      &--right {
        text-align: right;
      }
    }
  }
}
