<div class='template-one'>
  <div class='template-one__info-section'>
    <h1 class='name'>Leo Generali</h1>
    <div class='info-container'>
      <span>me@leogenerali.com •</span>
      <span>me@leogenerali.com •</span>
      <span>me@leogenerali.com •</span>
      <span>me@leogenerali.com</span>
    </div>
  </div>
</div>