<main class="resume-page">
  <h1>Resume page</h1>
  <% if current_user.nil? %>
    <p>Please note that unless you sign up you will not be able to save your created resume</p>
  <% end %>
  <% @resumes.each do |resume| %>
    <div>
      <p>This is <%= link_to "resume #{resume.id}", resume_editor_path(:id => resume.id) %></p>
    </div>
  <% end %>
  <%= link_to 'Create new resume', resume_create_path, method: :post %>
</main>
