.editor-skill-info {
  label {
    display: block;
    color: #fff;
  }
}

.editor-skill-info-button-container {
}

.editor-skill-info-button {
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.3s;

  &:hover {
    background-position: 100% 0;
  }
}
