<% if notice %>
  <p class='alert alert__notice'>
    <span class='alert__text'><%= notice %></span>
  </p>
<% end %>
<% if alert %>
  <p class='alert alert__negative'>
    <span class='alert__text'><%= alert %></span>
  </p>
<% end %>